{% extends "LL1_Academy/_base.html" %}

{% load static %}

{% block title %}Homepage{% endblock %}

{% block indexcontent %}
<div id="landingPage">
    <img src="{% static 'img/LL1-logo-white_white.png' %}" style="height:125px;margin-bottom:20px;">
    <h1 id="siteTitle">LL(1) Academy</h1>
    <div id="loginActions">
        {% if user.is_authenticated %}
            {% if messages %}
                {% for message in messages %}
                <p class="message" style="color:white;font-size:15px; display: none;">
                    {{ message }}
                </p>
                {% endfor %}
            {% endif %}            <p style="color:white;font-size:30px;">Welcome back <a href="profile" style="font-weight: bold;text-transform: capitalize;">{{ user.username }}</a>!</p>
            <div style="margin-bottom:20px;">
                <div class="loginOption" style="margin:0 15px 15px 0;"><a href="/tutorial"><button class="button indexButtons" style="width:125px;">Tutorial</button></a></div>
                <div class="loginOption"><a href="/practice"><button class="button indexButtons" style="width:125px;">Practice</button></a></div>
            </div>
            <a href="accounts/logout"class="footerLinks index" style="font-size:20px;">or logout</a>

        {% else %}
            {% block login_error %}
            {% endblock %}
            {% if messages %}
                {% for message in messages %}
                <p class="message" style="color:white;font-size:15px;">
                    {{ message }}
                </p>
                {% endfor %}
            {% endif %}
            {% load socialaccount %}
            {% providers_media_js %}
            <div style="margin-bottom:20px;">
            </div>
            <a href="/tutorial" class="footerLinks index" style="font-size:20px;">or begin without an account</a>
        {% endif %}
    </div>
    <div id="indexFooter">
        <a href="/about" class="footerLinks index" style="margin-right: 24px;">About</a>
        <a href="https://github.com/vivz/LL1-Academy" class="footerLinks index">Github</a>
    </div>
</div>
{% endblock %}
